.u-section-1 {min-height: 318px}
.u-section-1 .u-sheet-1 {min-height: 329px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 329px; pointer-events: auto}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-text-1 {font-size: 2.25rem; margin: 27px 0 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-image-1 {min-height: 329px; pointer-events: auto; background-image: url("images/datascienceapprendre.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 89px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 271px}
.u-section-1 .u-image-1 {min-height: 271px} }

@media (max-width: 991px){ .u-section-1 {min-height: 66px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-image-1 {min-height: 208px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-1 .u-image-1 {min-height: 374px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {min-height: 196px} }.u-section-2 .u-sheet-1 {min-height: 366px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 60px auto 0}
.u-section-2 .u-list-1 {min-height: 220px; grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px); grid-gap: 10px 10px; margin: 28px auto 0 0}
.u-section-2 .u-list-item-1 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-1 {padding: 30px 20px 64px}
.u-section-2 .u-icon-1 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-1 {width: 256px; min-height: 145px; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-2 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-2 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-3 {margin: 20px auto 0 0}
.u-section-2 .u-list-item-2 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-3 {padding: 30px 20px 64px}
.u-section-2 .u-icon-2 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-2 {width: 256px; min-height: 145px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-4 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-4 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-5 {margin: 20px auto 0 0}
.u-section-2 .u-list-item-3 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-5 {padding: 30px 20px 64px}
.u-section-2 .u-icon-3 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-3 {width: 256px; min-height: 145px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-6 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-6 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-7 {margin: 20px auto 0 0}
.u-section-2 .u-list-item-4 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-7 {padding: 30px 20px 64px}
.u-section-2 .u-icon-4 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-4 {width: 256px; min-height: 145px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-8 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-8 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-9 {margin: 20px auto 0 0}
.u-section-2 .u-list-item-5 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-9 {padding: 30px 20px 64px}
.u-section-2 .u-icon-5 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-5 {width: 256px; min-height: 145px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-10 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-10 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-11 {margin: 20px auto 0 0}
.u-section-2 .u-list-item-6 {height: 239px; width: 373px; margin-right: auto; margin-left: auto; animation-duration: 1000ms}
.u-section-2 .u-container-layout-11 {padding: 30px 20px 64px}
.u-section-2 .u-icon-6 {height: 65px; width: 65px; background-image: none; animation-duration: 1000ms; margin: 0 auto 0 0}
.u-section-2 .u-group-6 {width: 256px; min-height: 145px; background-size: auto; margin: -65px 0 0 auto}
.u-section-2 .u-container-layout-12 {padding: 0 20px 20px 30px}
.u-section-2 .u-text-12 {font-weight: 700; margin: 0 auto 0 0}
.u-section-2 .u-text-13 {margin: 20px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 327px}
.u-section-2 .u-list-1 {min-height: 181px; height: auto; margin-right: initial; margin-left: initial}
.u-section-2 .u-group-1 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-2 {padding-left: 20px}
.u-section-2 .u-group-2 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-4 {padding-left: 20px}
.u-section-2 .u-group-3 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-6 {padding-left: 20px}
.u-section-2 .u-group-4 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-8 {padding-left: 20px}
.u-section-2 .u-group-5 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-10 {padding-left: 20px}
.u-section-2 .u-group-6 {width: 201px; min-height: 203px}
.u-section-2 .u-container-layout-12 {padding-left: 20px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 951px}
.u-section-2 .u-list-1 {min-height: 416px; grid-template-columns: calc(((100% - 720px) / 2) + 355px) calc(((100% - 720px) / 2) + 355px); margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-bottom: 30px}
.u-section-2 .u-group-1 {width: 243px; min-height: 166px}
.u-section-2 .u-container-layout-3 {padding-bottom: 30px}
.u-section-2 .u-group-2 {width: 243px; min-height: 166px}
.u-section-2 .u-container-layout-5 {padding-bottom: 30px}
.u-section-2 .u-group-3 {width: 243px; min-height: 166px}
.u-section-2 .u-container-layout-7 {padding-bottom: 30px}
.u-section-2 .u-group-4 {width: 243px; min-height: 166px}
.u-section-2 .u-container-layout-9 {padding-bottom: 30px}
.u-section-2 .u-group-5 {width: 243px; min-height: 166px}
.u-section-2 .u-container-layout-11 {padding-bottom: 30px}
.u-section-2 .u-group-6 {width: 243px; min-height: 166px} }

@media (max-width: 767px){ .u-section-2 .u-list-1 {grid-template-columns: 100%; margin-top: 115px; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-1 {width: 443px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-2 {width: 443px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-3 {width: 443px}
.u-section-2 .u-container-layout-6 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-7 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-4 {width: 443px}
.u-section-2 .u-container-layout-8 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-9 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-5 {width: 443px}
.u-section-2 .u-container-layout-10 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-11 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-6 {width: 443px}
.u-section-2 .u-container-layout-12 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 235px}
.u-section-2 .u-group-2 {width: 235px}
.u-section-2 .u-group-3 {width: 235px}
.u-section-2 .u-group-4 {width: 235px}
.u-section-2 .u-group-5 {width: 235px}
.u-section-2 .u-group-6 {width: 235px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 763px}
.u-section-3 .u-text-1 {width: 734px; font-weight: 700; margin: 60px auto 0}
.u-section-3 .u-text-2 {font-style: italic; width: 637px; margin: 20px auto 0}
.u-section-3 .u-list-1 {min-height: 289px; grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px); grid-gap: 30px 30px; margin: 44px 0 60px}
.u-section-3 .u-list-item-1 {background-image: none; animation-duration: 1000ms}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-icon-1 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-3 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-4 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-2 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-2 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-5 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-6 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0}
.u-section-3 .u-list-item-3 {animation-duration: 1000ms}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-3 {height: 95px; width: 95px; margin: 0 auto}
.u-section-3 .u-text-7 {font-size: 1.5rem; font-weight: 400; margin: 20px 0 0}
.u-section-3 .u-text-8 {font-weight: 300; font-size: 1.125rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 712px}
.u-section-3 .u-text-1 {font-size: 2.25rem}
.u-section-3 .u-list-1 {min-height: 238px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-2 {background-size: auto}
.u-section-3 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-3 .u-list-item-3 {background-size: auto}
.u-section-3 .u-container-layout-3 {padding-left: 20px; padding-right: 20px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 884px}
.u-section-3 .u-text-1 {width: 720px}
.u-section-3 .u-list-1 {min-height: 456px; grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-text-1 {width: 540px}
.u-section-3 .u-text-2 {width: 540px}
.u-section-3 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 575px){ .u-section-3 .u-text-1 {width: 340px; font-size: 3rem}
.u-section-3 .u-text-2 {width: 340px} }.u-section-4 .u-sheet-1 {min-height: 548px}
.u-section-4 .u-text-1 {font-weight: 800; margin: 60px 0 0}
.u-section-4 .u-layout-wrap-1 {margin: 42px auto 0 0}
.u-section-4 .u-layout-cell-1 {min-height: 407px}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-icon-1 {height: 96px; width: 96px; margin: 0 auto}
.u-section-4 .u-text-2 {margin: 20px 0 0}
.u-section-4 .u-text-3 {margin: 20px 0 0}
.u-section-4 .u-text-4 {margin: 20px 0 0}
.u-section-4 .u-layout-cell-2 {min-height: 407px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-icon-2 {height: 96px; width: 96px; margin: 0 auto}
.u-section-4 .u-text-5 {margin: 20px 0 0}
.u-section-4 .u-text-6 {margin: 20px 0 0}
.u-section-4 .u-text-7 {margin: 17px 0 0}
.u-section-4 .u-layout-cell-3 {min-height: 407px; animation-duration: 1000ms}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-icon-3 {height: 96px; width: 96px; animation-duration: 1000ms; margin: 0 auto}
.u-section-4 .u-text-8 {margin: 20px 0 0}
.u-section-4 .u-text-9 {margin: 20px 0 0}
.u-section-4 .u-text-10 {margin: 23px 0 0} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 575px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 336px}
.u-section-4 .u-layout-cell-2 {min-height: 336px}
.u-section-4 .u-layout-cell-3 {min-height: 336px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 440px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 330px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 208px} }.u-section-5 {min-height: 318px}
.u-section-5 .u-sheet-1 {min-height: 537px}
.u-section-5 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 14px 0}
.u-section-5 .u-layout-cell-1 {min-height: 523px; pointer-events: auto}
.u-section-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-5 .u-text-1 {margin: 104px 0 0}
.u-section-5 .u-text-2 {margin: 20px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 523px; pointer-events: auto}
.u-section-5 .u-container-layout-2 {padding: 30px 60px 24px}
.u-section-5 .u-image-1 {object-position: 85.77% 50%; width: 690px; height: 403px; margin: 47px -60px 0 auto} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 89px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 431px}
.u-section-5 .u-layout-cell-2 {min-height: 431px; background-position: 50% 50%}
.u-section-5 .u-image-1 {width: 350px; height: 204px; margin-right: 0} }

@media (max-width: 991px){ .u-section-5 {min-height: 66px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-image-1 {width: 300px; height: 175px} }

@media (max-width: 767px){ .u-section-5 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }