.u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-1 .u-image-1 {min-height: 400px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 400px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-text-1 {margin: 0 auto}
.u-section-1 .u-text-2 {margin: 20px auto 0} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 430px}
.u-section-1 .u-layout-wrap-1 {position: relative}
.u-section-1 .u-image-1 {min-height: 330px}
.u-section-1 .u-layout-cell-2 {min-height: 330px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 353px}
.u-section-1 .u-image-1 {min-height: 253px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 580px}
.u-section-1 .u-image-1 {min-height: 380px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 439px}
.u-section-1 .u-image-1 {min-height: 239px} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 800px}
.u-section-2 .u-text-1 {margin: 60px auto 0}
.u-section-2 .u-text-2 {margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 660px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 380px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 287px} }.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-layout-wrap-1 {margin: 50px 0}
.u-section-3 .u-layout-cell-1 {min-height: 451px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-layout-cell-2 {min-height: 451px}
.u-section-3 .u-container-layout-2 {padding: 20px 60px}
.u-section-3 .u-text-1 {margin: 0}
.u-section-3 .u-text-2 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-2 {padding-left: 49px; padding-right: 49px} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-3 .u-layout-wrap-1 {margin-top: 42px; margin-bottom: 42px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-2 {min-height: 451px} }.u-section-4 .u-sheet-1 {min-height: 600px}
.u-section-4 .u-video-1 {height: 500px; margin: 50px 0} 

@media (max-width: 1199px){ .u-section-4 .u-video-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 504px}
.u-section-4 .u-video-1 {height: 404px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 5px}
.u-section-4 .u-video-1 {height: 310px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 0}
.u-section-4 .u-video-1 {height: 200px; margin-right: initial; margin-left: initial} }.u-section-5 .u-sheet-1 {min-height: 639px}
.u-section-5 .u-text-1 {margin: 60px 230px 0}
.u-section-5 .u-text-2 {width: 680px; margin: 20px auto 0}
.u-section-5 .u-video-1 {height: 360px; width: 640px; margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-5 .u-text-1 {width: 680px; margin-left: 130px; margin-right: 130px} }

@media (max-width: 991px){ .u-section-5 .u-text-1 {margin-left: 20px; margin-right: 20px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 562px}
.u-section-5 .u-text-1 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-5 .u-text-2 {width: 540px}
.u-section-5 .u-video-1 {height: 303px; margin-bottom: -17px; margin-right: initial; margin-left: initial; width: auto} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 479px}
.u-section-5 .u-text-1 {width: 340px}
.u-section-5 .u-text-2 {width: 340px}
.u-section-5 .u-video-1 {height: 195px; margin-bottom: -23px; width: auto; margin-right: initial; margin-left: initial} }.u-section-6 {background-image: linear-gradient(0deg, rgba(255,255,255,0.2), rgba(255,255,255,0.2)); background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 576px}
.u-section-6 .u-group-1 {width: 698px; min-height: 240px; margin: 1px auto 0 0}
.u-section-6 .u-container-layout-1 {padding: 30px 10px 0}
.u-section-6 .u-text-1 {font-size: 4.5rem; margin: 0}
.u-section-6 .u-text-2 {font-size: 1.25rem; margin: 20px 0 0}
.u-section-6 .u-text-3 {font-style: italic; margin: 6px auto 0 0}
.u-section-6 .u-btn-1 {border-style: none none solid; font-style: italic; padding: 0}
.u-section-6 .u-form-1 {height: 71px; margin: 40px 474px 60px 0}
.u-section-6 .u-form-group-1 {width: 100%}
.u-section-6 .u-form-group-2 {width: 100%}
.u-section-6 .u-form-group-3 {width: 100%}
.u-section-6 .u-btn-2 {border-style: solid; background-image: none; text-transform: uppercase} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 475px}
.u-section-6 .u-form-1 {margin-right: 274px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 546px}
.u-section-6 .u-group-1 {width: 578px; min-height: 271px}
.u-section-6 .u-container-layout-1 {padding-bottom: 0}
.u-section-6 .u-text-1 {font-size: 3.75rem}
.u-section-6 .u-form-1 {margin-right: 54px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 410px}
.u-section-6 .u-group-1 {width: 490px; min-height: 257px}
.u-section-6 .u-text-1 {font-size: 3rem}
.u-section-6 .u-form-1 {margin-right: 0} }

@media (max-width: 575px){ .u-section-6 {background-position: 66.81% 50%}
.u-section-6 .u-sheet-1 {min-height: 258px}
.u-section-6 .u-group-1 {width: 340px} }