.col-xs-10 {
  width: 98%!important;
}

table, th, td {
   border: 1px solid black!important;
}

table {
    border-collapse: collapse!important;
}

tr:nth-child(even) {background-color: #f2f2f2;}


pre code, pre, code {
  white-space: pre !important;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  word-break: keep-all !important;
  word-wrap: initial !important;
  max-height: 50vh !important;
}

